.title-name {
    font-size: 8.5em;
}

#head {
    margin-top: 48px;
}

.black-carousel-button {
    background-color: black;
    color: white;
    border-radius: 50%;
    
}

h2 {
    font-size: large;
}